<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>es6</title>
</head>
<body>
	sssszzzz
	<p>es6</p>
	<p>html</p>
	<p>css</p>
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>